<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269150891635-um2h2dks8clcijrd497hf92kkqjf0cat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269150891635-um2h2dks8clcijrd497hf92kkqjf0cat</string>
	<key>API_KEY</key>
	<string>AIzaSyDAIxR2w3iU4syiZJgzgDqnB2cwyFq6YZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>269150891635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mikkyboy.saydo</string>
	<key>PROJECT_ID</key>
	<string>saydo-6f792</string>
	<key>STORAGE_BUCKET</key>
	<string>saydo-6f792.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269150891635:ios:90a7a2e3722100bca2c406</string>
</dict>
</plist>